html
	head
		link(rel='stylesheet', href='public/css/style.css')
		title= title
	body
		h1= title
		h2= message_a
		#commands
			p Commands runned successifully
			.control.commands= message_b
		#hours
			p Script started at
			.control.hours= message_c
			p Current time
			.control.hours= message_d